
.container {
    width: 90%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}
.close-modal {
    float: right;
    cursor: pointer;
    color: #aaa;
    font-size: 20px;
}
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}
form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}
form button:hover {
    background-color: #0056b3;
}
.competence {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 10px;   
}

.liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.competence strong {
    color: #007BFF;
}
.competence button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.competence button:nth-child(2) {
    background-color: #ffc107;
    color: white
}
.competence button:nth-child(2):hover {
    background-color: #e0a800;
}
.competence button:nth-child(3) {
    background-color: #dc3545;
    color: #fff;
}
.competence button:nth-child(3):hover {
    background-color: #b02a37;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
