
*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Didact Gothic';
    width: auto;
    height: auto;
    overflow-x: hidden;
}

.bienvenu, .bienvenu>b {
  font-family:'Shadows Into Light';
  padding-bottom: 10px;
  font-size: 50px;
  font-weight: bolder;
}


header {
    height: auto;
    width: auto;
}

nav {
    width: auto;
    height: 100vh;
    color: white;
    right: 0;
    position: absolute
}

nav>ul {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    /* list-style-image: url(/images/arrow2.png); */
}

.text-align
{
  text-align: center;
}

nav>ul>li{
    list-style: none;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 20px;
    width: 100px;
    height: auto;
    padding: 20px;
    background: linear-gradient(0.25turn, #780875, #de0fd8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    &:hover {
        background-color: #c568c2;
        font-size: 30px;
        font-weight:bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        
    }
}

button{

  text-align: center;
    font-family: 'Shadows Into Light';
    font-size: 20px;
    color: white;
    border: none;
    width: auto;
    height: auto;
    padding: 5px 12px;
    background: linear-gradient(0.25turn, #780875, #de0fd8);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-items: center;
    filter: drop-shadow(2px 3px 3px rgb(49, 49, 49));

    &:hover {
        background-color: #c568c2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        transform: translateX(-10px);
        
    }



}

.hero {
    height: 100vh;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 75% 100%, 50% 90%, 25% 100%, 0% 90%);
}

.forma{
  display: none;
}


.other-hero {
  height: 100vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero div, .other-hero div {
    text-align: center;
}

h1{
    color: #780875;
    font-size: 100px;
    font-family: 'Dynalight', 'sans-serif';
}

h2 {
    font-family:'Shadows Into Light';
    padding-bottom: 10px;
    font-size: 30px;
}



.qui-suis-je ul, .objectifs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.qui-suis-je ul>li{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.description-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

b {
    font-weight: 400;
    color: #782575;
}

.hero-icon {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 80px;
}

i {
    color: #780875;
}

.hero-icon i {
    color: #780875;
    padding-top: 40px;
    animation-name: slidedown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes slidedown {
    0% {
        transform: translateY(-20px);
        opacity: 0.5;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0.5;
    }
}

.photo>img {
    width: 100%;
    height: 100%
}

.description {
    height: 100%;
    display: flex;
    align-items: center;
}

.other-title {
    font-size: 80px;
}

.description-competences >div >p{
  border: 1px solid #782575;
  color: #782575;
  border-radius:20px;
  padding:0 10px 0 10px;
  margin-bottom: 2px;
  &:hover {
    border: 1.5px solid #782575;
    margin-bottom: 3px
  }
}

.langue {
  background-color: #c568c2;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-top:15px;
}

a {
   color: white;
   border: none;
   text-decoration:none;

}

.containers {
    height: auto;
    margin: 30px;
    gap: 20px;
}

#competences {
    background: linear-gradient(to bottom , #ecececa1, #eedbdba1);
    border-radius: 20px;
    height: 100vh;
}

#formations {
  background: linear-gradient(to bottom , #ecececa1, #eedbdba1);
  border-radius: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.competences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
    padding: 0 0 10px 0;
}

.presentation, .row-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    padding:0 30px 0 30px;
    justify-content: space-between;
}

.formations{
  gap: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    height: 100vh;
    width:auto;
}

.experience-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.experience-line-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.entete-experience {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.entete-experience h2 {
    font-size: 22px;
    justify-self: center;
}


.entete-experience-title {
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;
}


.entete-experience-title * {
    font-size: 22px;
    text-align: center;
}

.year {
  font-size: 22px;
    color:#780875;
}

.liaison {
    height: 50px;
    margin-bottom: 20px;
}

.entete-experience img {
    height: auto;
    width: 50px;
}


.card ul li {
  text-align: center;
}

.competence-block .card {
  height: 270px;
}
.entete-experience > .card {
  overflow-x: hidden;
  overflow-y: scroll;
}

.entete-experience > .card::-webkit-scrollbar {
  width: 10px; 
  border-radius: 10px;
}

.entete-experience > .card::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.entete-experience > .card::-webkit-scrollbar-thumb {
  background: linear-gradient(0.25turn, #780875, #de0fd8); 
  border-radius: 10px; 
}

.entete-experience > .card::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(0.25turn, #780875, #de0fd8);
}

.entete-experience > .card::-webkit-scrollbar-button {
  display: none;
}

.entete-experience > .card {
  scrollbar-width: thin; 
  scrollbar-color: #780875 #f0f0f0; 
}

.entete-experience> .card ul li {
  margin-bottom: 10px;
 }


.competence-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.card {
    background-color: white;
    box-shadow: 2px 0 2px 0 #5e5e5e;
    padding: 12px;
    width: 250px;
    height: 220px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    box-shadow:2px 2px 8px #782575;
    &:hover {
      box-shadow:2px 2px 12px #782575;
      transform: translateY(-10px);
    }
}

.icon{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.icon-title {
    position: relative;
}

.utils {
  width: 50px;
  height: auto;
}

.column-flex {
display: flex;
flex-direction: column;
justify-items: center;
gap:10px
}

.experience {
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
gap:10px
}

.row-flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

}

.contact-icons {
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.competence-title {
    background-color: #c782c577;
    border-radius: 20px;
    width: 120px;
    height: 15px;
    top: 30px;
    position: absolute;
    text-align: center;
}

.projetLink {
  width: 100px;
}

.projets {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  box-shadow: 2px 0 2px 0 #5e5e5e;
  padding: 0;
  height: auto;
  border-radius: 10px;
}

.card-auto {
  height: auto;
  padding: 20px 0 20px 0;
}

.card-image {
  width: 100%;
  height: 80%;
  position: relative;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 2px;
}


.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  &:hover, &:focus{
    filter: opacity(30%);
 }
}

.card-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 2px;
}

.projets-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: auto
}
.projet-headers {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.projets-header {
  width: auto;
  height: auto;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* filter: drop-shadow(5px 5px 2px gray); */
}

.projets-header li h2 b {
  filter: drop-shadow(5px 5px 2px gray);
  &:hover {
    padding: 2px 10px 2px 10px;
    cursor: pointer;
  }
}

.me-contacter {
  background-color: #780875;
}


form { max-width:100%; margin:50px auto; }

.feedback-input {
  font-weight:500;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #780875;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #c568c2; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#780875;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.fa-link a {
  color: black;
}
[type="submit"]:hover { background:#c568c2 }

.formation, .formation-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.formation-list{
  gap: 30px;
  margin: 10px;
}


.formation .title {
  display: flex;
  flex-direction: column;
}

.formation .title p {
  text-align: center;
}

.formation .title  .icon-title{
  font-size: 22px;
  padding: 0
}

.interet-list{
  background-color: white;
  filter:drop-shadow(3px 3px 2px rgb(76, 69, 69));
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;

}

.button-competences {
  background-color: #c568c2;
  &:hover{
    background-color: #780875;
    transform: translateX(-10px);
  }
}

/* Style général */
.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
}


.entry-title {
  font-size: 22px;
  font-weight: 700;
}

.entry-date {
  font-size: 22px;
  color: #780875;
  font-weight: bold;
  margin-bottom: 10px;
}

.entry-logo {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.company-name p {
  font-size: 19px;
  font-weight: bold;
  border : 1px solid #782575;
  color: #782575;
  width: 80px; 
  border-radius: 20px;
  text-align: center;
  background-color: #78257549;
}


/* Animation de fade */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Style des éléments avant que l'animation commence */
.timeline-entry {
  display: flex;
  flex-direction: column;
  width: 45%;
  position: relative;
  padding: 25px;
  margin-bottom: 50px;
  background: linear-gradient(0.25turn, #ecececa1, #e7c5c5a1);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  opacity: 0; 
  transition: opacity 1s ease-out; 
}

/* Application de l'animation une fois l'élément visible à l'écran */
.timeline-entry.visible {
  opacity: 1;
  animation: fadeIn 1s ease-out forwards;
  &:hover {
    transform: translateY(-10px);
  }
}

/* Pour chaque élément avec un délai d'animation progressif */
.timeline-entry:nth-child(odd) {
  align-self: flex-start;
  text-align: left;
  animation-delay: 0.3s; /* Délai pour les éléments impairs */
}

.timeline-entry:nth-child(even) {
  align-self: flex-end;
  text-align: right;
  animation-delay: 0.5s; /* Délai pour les éléments pairs */
}

/* Point sur la timeline */
.timeline-entry::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 100%;
  width: 22px;
  height: 22px;
  background-color: #780875;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 10px #c568c2;
}

.timeline-entry:nth-child(even)::before {
  left: -30px;
}



/* Optionnel : si tu veux ajouter une animation de la ligne de la timeline */
.timeline-line {
  position: absolute;
  left: 50%;
  width: 5px;
  background-color: #782575;
  top: 120px;
  bottom: 120px;
  transform: translateX(-50%);
  border-radius: 2px;
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

.timeline-text {
  margin-bottom: 50px;
}


/* Responsivité */
@media (max-width: 768px) {
  .timeline-line {
    display: none;
  }

  /* Alignement des cartes (en mode vertical) */
  .timeline-container {
    padding: 20px;
  }

  .timeline-entry {
    width: 100%; /* Les cartes occupent toute la largeur */
    margin-bottom: 30px; /* Espacement entre les cartes */
  }

  /* Point sur la timeline (masquer sur mobile) */
  .timeline-entry::before {
    display: none;
  }

  /* Ajouter un espacement entre les cartes */
  .timeline-entry.visible {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .timeline-title {
    font-size: 24px;
  }
}



@media (max-width: 1100px) {
.card {
  height: auto;
}
.forma{
  display: flex;
  text-align: center;
}

.formaInterets {
  display: none;
}
.text-align
{
  width: 300px;
}

.interet-list {
  display: none;
}
.presentation{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
#presentation, #contacts {
  margin:0;
  height: auto;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;

}

.description-competences div p, .objectifs p {
  text-align: center;
}



.projets{
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
}

.projets-header li h2 b{
  font-size: 24px;
}

.hero-description h2 {
  font-size: 22px;
}


form {
  width: 350px;
}
.hero{
  clip-path: none;
}
nav {
  width: auto;
  height: 100%;
  color: white;
  right: 0;
  position: absolute;
}

.description-items, .qui-suis-je ul, .objectifs, .qui-suis-je{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.justify-content{
  justify-content: center;
  align-items: center;
}

/* #competences, .competences, .experiences, #experiences, .experiencebo{
  height: auto;
  padding-bottom: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
} */


.competence-block,  .experience-line-bottom{
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%; 
  height: auto;
  color: white;
  top: 0;
  position: absolute;
}

nav > ul {
  width: 100%; 
  height: auto;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  gap: 15px; 
  padding: 10px 0; 
  border-radius: 10px; 
}

nav > ul > li {
  padding: 5px; 
  border-radius: 30px; 
  background-color: #780875; 
  color: white; 
  font-size: 24px;
  height: auto;
  &:hover{
    font-size: 26px;
  }
}
h1{
  color: #780875;
  font-size: 60px;
  font-family: 'Dynalight', 'sans-serif';
}
.bienvenu {
  font-family:'Shadows Into Light';
  padding-bottom: 10px;
  font-size: 40px;
}

.row-flex{
  flex-direction: column;
}

button i {
  display: none;
}


}


 @media (max-width: 1200px) {

  .row-flex{
    flex-direction: column;
  }
  
  button i {
    display: none;
  }

  .description-items, .qui-suis-je ul, .objectifs, .qui-suis-je{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #competences, .competences, .experiences, #experiences, .experience, #formations{
    height: auto;
    padding-bottom: 10px;
    margin: 10px;
    width: auto;
    border-radius: 0;
    justify-content: center;
    align-items: center;
  }
  
  
  .competence-block,  .experience-line-bottom{
    display: flex;
    flex-direction: column;
  }
  
  
  .card{
    height: auto;
  }

} 